In [1]:
import itertools
import numpy as np
import pandas as pd
from thefuzz import process
from time import process_time
import matplotlib.pyplot as plt

import warnings
warnings.simplefilter("ignore", UserWarning)
warnings.filterwarnings("ignore", category=DeprecationWarning)
warnings.filterwarnings("ignore", category=FutureWarning)

In [3]:
# load dataset
ds1_path = "../Dataset/ds1.csv"
ds2_path = "../Dataset/ds2.csv"

ds1 = pd.read_csv(ds1_path)  # read the raw dataset into data-frame
ds2 = pd.read_csv(ds2_path)  # read the raw dataset into data-frame

In [73]:
ds1['tic'].value_counts()

MBCN    24
CM      24
WBS     24
WAFD    24
WSFS    24
        ..
HYMU     1
INMU     1
HLGE     1
MVP      1
FSEC     1
Name: tic, Length: 19453, dtype: int64

In [72]:
ds2['TICKER'].value_counts()

WSO     24
HVT     24
STZ     24
AGM     24
LEN     24
        ..
PETV     1
PALT     1
ICCM     1
FCUV     1
LGO      1
Name: TICKER, Length: 12816, dtype: int64

In [62]:
import pandas as pd
from thefuzz import process

df1 = pd.DataFrame({
                    'Langs': ['C', 'Py', 'Java', 'C#', 'JSP', 'R'], 
                    'Year': [2020, 2011, 1998, 1899, 2008, 2013],
                    'Values': [1, 2, 3, 4, 5, 6]
                  })

df2 = pd.DataFrame({
                    'Langs': ['C语言','Python','CJavaPy', 'Basic'], 
                    'Year': [2020, 2011, 2004, 1992],
                    'Names': ['coder1', 'coder2', 'coder3', 'coder4']
                  })

In [63]:
df1

  Langs  Year  Values
0     C  2020       1
1    Py  2011       2
2  Java  1998       3
3    C#  1899       4
4   JSP  2008       5
5     R  2013       6

In [64]:
df2

     Langs  Year   Names
0      C语言  2020  coder1
1   Python  2011  coder2
2  CJavaPy  2004  coder3
3    Basic  1992  coder4

In [65]:
langs = lambda x: process.extractOne(x, df2["Langs"])[2]
df1['Names'] = df2.loc[df1["Langs"].map(langs).values, 'Names'].values
print(df1)

  Langs  Year  Values   Names
0     C  2020       1  coder1
1    Py  2011       2  coder2
2  Java  1998       3  coder3
3    C#  1899       4  coder1
4   JSP  2008       5  coder3
5     R  2013       6  coder1

In [74]:
df1["Langs"].map(langs).values

array([0, 1, 2, 0, 2, 0], dtype=int64)